apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-portfolio-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-portfolio
  template:
    metadata:
      labels:
        app: my-portfolio
    spec:
      containers:
      - name: my-portfolio-container
        image: my-portfolio
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80

